html{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
.wrap{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
.container{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 0 10px 0;
    border-bottom: 2px solid orange;
}
h1{
    font-size: 20px;
}
.text-center{
    text-align: center;
}
.ricarica{
    padding: 10px;
    background-color: orange;
}
.ricarica:hover{
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.109);
}
.margin-top{
    margin-top: 50px;
}